# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
tmp
out-tsc
build

# Nx cache
.nx/cache
.nx/workspace-data

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

.angular
