.app-header {
  width: 100%;
  height: 5rem;
  background: #001871;
  color: white;
  display: flex;
  align-items: center;
}

.app-header__inner {
  width: 80%;
  margin: 0 auto;
}

.app-header__logo {
  height: 2rem;
  display: block;
  filter: brightness(0) invert(1);
}

.app-content {
  background: white;
  min-height: calc(100vh - 5rem);
  padding: 2rem 0;
}

.app-content__inner {
  width: 80%;
  margin: 0 auto;
}
